@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}
body {
    background-color: #fff;
}
.promo {
    width: 1920px;
    height: 800px;
    margin: 0.5px 0 0;
    position: relative;
/*     text-align: center; */
}
.photojpg {
    position: absolute;
    top: 4.9%;
    left: 47.9%;
}
.WordPress {
    position: absolute;
    top: 15.6%;
    z-index: 2;
    color: black;
    left: 45.5%;
    font-weight: 500;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}
.-WordPress {
    text-transform: uppercase;
    position: absolute;
    width: 41.0625%;
    height: 7%;
    text-align: center;
    color: #f9bf3b;
    left: 30.6%;
    top: 23.6%;
    right: 34.3%;
    font-weight: 900;
    font-size: 43px;
    text-shadow: 1px 1px 1px #000;
}
.simple {
    text-transform: uppercase;
    position: absolute;
    top: 31.8%;
    left: 36.5%;
    width: 28.75%;
    height: 11%;
    text-align: center;
    font-size: 84px;
    font-weight: 900;
    color: #fff;
    text-shadow: 1.5px 1.5px 1.5px #000;
    display: block;
}
.harder {
    position: absolute;
    text-transform: uppercase;
    top: 42.9%;
    left: 27.5%;
    margin-top: 15px;
    color: #f9bf3b;
    text-shadow: 1.5px 1.5px 1.5px #000;
    width: 50.72%;
    height: 7%;
    text-align: center;
    font-size: 44px;
    margin-top: 15px;
    font-weight: 900;
}
.info {
    position: absolute;
    width: 68%;
    height: 11%;
    left: 21%;
    top: 51%;
    margin-top: 11px;
    text-align: center;
    color: #fff;
    font-weight: 300;
    text-shadow: 1.5px 1.5px 1.5px #000;
    font-size: 23px;
}
.info .free {
    font-weight: bold;
    color: #f9bf3b;
}
.first-button {
    position: absolute;
    top: 68.8%;
    left: 41.9%;
    width: 16.30%;
    height: 9%;
    background-color: #3ab6da;
    border: solid 2px rgba(0, 0, 0, 0.23);
    font-size: 15px;
    color: #fff;
    transition: all 0.3s ease;
}
.first-button:hover {
    background-color: #1c7a98;
}
.line1 {
    position: absolute;
    height: 2px;
    background-color: #fff;
    width: 15.2%;
    top: 38.3%;
    left: 20.4%;
    transform: translateY(-50%);
    flex-grow: 1;
}
.line2 {
    position: absolute;
    height: 2px;
    background-color: #fff;
    width: 15.2%;
    top: 38.3%;
    right: 19.4%;
    transform: translateY(-50%);
    flex-grow: 1;
}
.know {
    position: absolute;
    top: 87%;
    left: 43.9%;
    text-transform: uppercase;
    width: 15%;
    height: 1.375%;
    color: #fff;
    font-weight: 100;
    font-size: 15px;
    text-shadow: 1.5px 1.5px 1.5px #000;
}
.new {
    height: 720px;
    position: relative;
    margin: 0 auto; 
    background-color: #efefef;
}
.what {
    position: absolute;
    top: 14.07%;
    margin: 0 auto;
    left: 50%; 
    transform: translate(-50%, -50%);
    color: #252525;
    font-size: 30px;
    text-transform: uppercase;
}
hr {
    position: absolute;
    width: 12%;
    border: solid 2px #f9bf3b;
}
.new hr {
    left: 45%;
    top: 22%;
}
.web {
    position: absolute;
    top: 30%;
    margin: 0 auto;
    left: 50%; 
    transform: translate(-50%, -50%);
    color:  #4a4a4a;
    font-size: 23px;
    text-transform: uppercase;
}
.new img {
    position: absolute;
    display: inline-block;
    top: 36.1%;
}
.note-1 {
    left: 21%;
}
.note-2 {
    left: 41.1%;
}
.note-3 {
    left: 61.4%;
}
.new span {
    display: inline-block;
    text-align: center;
}
.nt-1, .nt-2, .nt-3 {
    position: absolute;
    top: 70.8%;
    margin: 0 auto;
    color:  #4a4a4a;
    font-size: 15px;
}
.nt-1 {
    left: 20.5%; 
}
.nt-2 {
    left: 41.1%; 
}
.nt-3 {
    left: 61.5%;
}
.optimization {
    background-color: #fff;
    position: relative;
    height: 502px;
}
.optimization img {
    position: absolute;
    margin-left: 7.5%;
}
.question {
    position: absolute;
    text-transform: uppercase;
    font-size: 30px;
    text-align: left;
    color: #299cbd;
    font-weight: 900;
    left: 40.677%;
    top: 10.2%;
}
.optimization p {
    position: absolute;
    text-align: justify;
    color: #4a4a4a;
    font-weight: 300;
    left: 40.6%;
    top: 20.4%;
    line-height: 25px;
}
.span-bold {
    font-weight: bold;
}
.learning {
    height: 447px;
    position: relative;
}
.span-big {
    position: absolute;
    top: 20.9%;
    text-align: center;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    color: #efefef;
}
.learning hr {
    top: 29.08%;
    left: 44.4%;
}
.icon {
    position: absolute;
    z-index: 2;
}
.ellipse {
    position: absolute;
    background-color: #b4e2ff;
    height: 25.72%;
    width: 5.98%;
    border-radius: 50%;
    z-index: 1;
    top: 39.1%;
}
#first-ellipse {
    left: 22.8%;
}
#first-icon {
    top: 32.2%;
    left: 20.9%;
}
#second-ellipse {
    left: 34.9%;
}
#second-icon {
    left: 27%;
    top: 27%;
}
#third-ellipse {
    left: 47%;
}
#third-icon {
    top: 24.3%;
    left: 25.2%;
}
#fourth-ellipse {
    left: 59.2%;
}
#fourth-icon {
    left: 22.6%;
    top: 20.9%;
}
#fiveth-ellipse {
    left: 71.4%;
}
#fiveth-icon {
    left: 27%;
    top: 20.9%;
}
.icon-text {
    position: absolute;
    top: 70.7%;
    color: #efefef;
    line-height: 1.18;
    text-align: center;
    font-weight: 300;
    font-size: 15px;
}
#first-span {
    left: 21.2%;
}
#second-span {
    left: 33%;
}
#third-span {
    left: 45.2%;
}
#fourth-span {
    left: 57.9%;
}
#fiveth-span {
    left: 69.9%;
}
.flex-container {
    display: flex;
    height: 450px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.flex-block {
    width: 150px;
    height: 150px;
    background-color: red;
    color: #fff;
    text-align: center;
}
.bonus {
    position: relative;
    background-color: #efefef;
    height: 550px;
}
#gift-up {
    position: absolute;
    left: 50.7%;
    transform: translate(-50%);
    top: 14%;
}
#gift-down {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 25%;
}
.bonus span {
    position: absolute;
    width: 53%;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
    top: 50.1%;
    font-size: 26px;
    color: #252525;
}
#second-button {
    top: 77%;
}
.webinar {
    position: relative;
    height: 515px;
}
#last-notebook {
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translate(-50%);
}
.webinar span {
    position: absolute;
    text-transform: uppercase;
    left: 50%;
    text-align: center;
    transform: translate(-50%);
}
.willbe {
    top: 62%;
    font-size: 26px;
    color: #252525;
}
.timeweb {
    top: 73%;
    color: #299cbd;
    font-weight: 900;
    font-size: 31px;
}
.chec {
    color: #252525;
    top: 83%;
    font-size: 19px;
}
footer {
    position: relative;
    height: 166px;
    background-color: #1a1a1a;
}
.refs {
    position: absolute;
    top: 36.7%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.refs span, .refs a, footer span {
    color: #888;
    font-weight: 300;
    font-size: 13px;
}
#lt {
    position: absolute;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    bottom: 42%;
}